################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Revision_C_Sharp/.vs/Revision_C_Sharp/v17/.suo
/Revision_C_Sharp/.vs/Revision_C_Sharp/FileContentIndex
/Revision_C_Sharp/.vs/Revision_C_Sharp/v17/.futdcache.v2
/Revision_C_Sharp/.vs/Revision_C_Sharp/FileContentIndex/1750666e-0dd8-4f6d-be22-3192537f54e3.vsidx
/Revision_C_Sharp/.vs/Revision_C_Sharp/FileContentIndex/87b9302f-365a-45a0-a191-37fb2d58f199.vsidx
/Revision_C_Sharp/.vs/Revision_C_Sharp/FileContentIndex/e61d02d0-ab0f-4bc2-aef5-cabbf34b0f1b.vsidx
/Revision_C_Sharp/.vs/Revision_C_Sharp/FileContentIndex/e70d6131-ab4a-4c19-b947-45d7173e0a88.vsidx
/Revision_C_Sharp/.vs/Revision_C_Sharp/FileContentIndex/ee516196-0999-4b53-b2e9-de2dbc14aedb.vsidx
/Revision_C_Sharp/.vs/Revision_C_Sharp/DesignTimeBuild/.dtbcache.v2
/Revision_C_Sharp/.vs/Revision_C_Sharp/v17/.suo
/Revision_C_Sharp/.vs/Revision_C_Sharp/DesignTimeBuild/.dtbcache.v2
/Revision_C_Sharp/TemperatureProcheZero/bin/Debug/net6.0/TemperatureProcheZero.deps.json
/Revision_C_Sharp/TemperatureProcheZero/obj/Debug/net6.0/refint
/Revision_C_Sharp/TemperatureProcheZero/obj/Debug/net6.0
/Revision_C_Sharp/TemperatureProcheZero/obj
/Revision_C_Sharp/TemperatureProcheZero/bin/Debug/net6.0
*.csproj
/Revision_C_Sharp/PrimaryNumber/bin/Debug/net6.0
*.dll
