################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Revision_C_Sharp/.vs/Revision_C_Sharp/v17/.suo
/Revision_C_Sharp/.vs/Revision_C_Sharp/FileContentIndex
